--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio== 2.5.1+cu124

deep_translator
openai_whisper
numba==0.55.1
pandas
pyinstaller
spacy
tqdm
transformers
transliterate
openpyxl
sentencepiece
sacremoses
PySimpleGUI==4.60.5.0
